[submodule "ThirdParty/tinygltf"]
	path = ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ThirdParty/LibSWBF2"]
	path = ThirdParty/LibSWBF2
	url = https://github.com/Ben1138/LibSWBF2
